<!DOCTYPE html>
<html lang="{{.ActiveLang}}">
<head>
  <meta charset="utf-8">
  <title>SABnzbd {{.Version}}</title>
</head>
<body>
  <script type="text/javascript">
    var apiKey = {{.APIKey | js}};
    var sabVersion = {{.Version | js}};
  </script>
  <h1>SABnzbd-Go {{.Version}}</h1>
</body>
</html>
